<h3> <code>[loading]</code> and <code>[error]</code> attributes </h3>

<p>
  Other than the internal "loading" and "error" states, which are triggered by <code>dataSource</code> changes, there are also external <code>[loading]</code>
  and <code>[error]</code> attributes which can be use to force those states directly.
</p>
<pre>
  <code class="js">
    let rows, loading, error;
    try {{'{'}}
      <span class="comment">// Set loading status</span>
      loading = true;
      <span class="comment">// Get rows</span>
      rows = await loadDataFromAsync();
      <span class="comment">// Reset loading status</span>
      loading = false;
    {{'}'}} catch (err) {{'{'}}
      <span class="comment">// In case of error, capture error</span>  
      error = err;
    {{'}'}}
    const rows = [...];
  </code>
  <code class="html">
    &lt;ngz-grid [dataSource]="rows" [loading]="loading" [error]="error"&gt;&lt;/ngz-grid&gt;
  </code>
</pre>

<div class="example">
  <code class="js">
    [loading]="
      <button mat-button mat-raised-button (click)="isLoading = !isLoading">
        Toggle {{ isLoading ? 'Off' : 'On ' }}
      </button>
    "
    [error]="
      <button mat-button mat-raised-button (click)="isError = !isError">
        Toggle {{ isError ? 'Off' : 'On ' }}
      </button>
    "
  </code>
  <br />
  <br />
  <ngz-grid [dataSource]="dataSource" [loading]="isLoading" [error]="isError ? err : null"></ngz-grid>
</div>

