<h3>Pagination</h3>

<p>Pagination can be modified by providing template bindings inside the 
  <code >&lt;ng-container&gt;</code>
</p>
<p>Custom pagination template bindings that are available include:</p>
  <ul>
    <li><code>[hasPagination]</code> - set to true if you want to display & set custom pagination options</li>
    <li><code>[defaultPageLength]</code> - number of items per page displayed by default</li>
    <li><code>[pageLengthOptions]</code> - include other options of items per page</li>
  </ul>
  <p>All pagination template bindings are optional and support a default fallback options</p>
  <p>If you don't want to display pagination explicitly set the <code>[hasPagination]</code> template binding to "false"</p>

<div class="example">
  <code>
    <ngz-grid [dataSource]="dataSource">
      <ng-container ngzGridPaginationDef [defaultPageLength]="5" [pageLengthOptions]="[5,10,15,25]" [hasPagination]="true"></ng-container>
      <ng-container ngzGridColumnDef="id" [header]="'ID'" [footer]="'ID'" [hasOrdering]="true"></ng-container>      
      <ng-container ngzGridColumnDef="firstName" [header]="'First Name'" [footer]="'First Name'" [hasOrdering]="true"></ng-container> 
      <ng-container ngzGridColumnDef="lastName" [header]="'Last Name'" [footer]="'Last Name'" [hasOrdering]="true"></ng-container>
      <ng-container ngzGridColumnDef="salary" [header]="'Salary'" [footer]="'Salary'" [hasOrdering]="true"></ng-container>  
    </ngz-grid>
  </code>
</div>
