ngx-intellegens-grid {
  margin-bottom: 10pt;
}


code {
  color: #FFF;
  background-color: #1d1d1d;
  font-family: monospace;
}

h2 {
  font-weight: 900;
  font-size: 2em;
}

h3 {
  font-weight: 600;
  font-size: 1.4em;
}
