<h3>Filter, sort, pagination change event</h3>
<pre>
  <code>
    <ngz-grid #grid [dataSource]="dataSource" [dataLength]="dataLength" (changed)="onEventChange($event)">
      <ng-container NgzGridFilteringDef [hasFiltering]="true"></ng-container>
      <ng-container NgzGridPaginationDef [defaultPageLength]="5" [pageLengthOptions]="[5,10,15,25]" [hasPagination]="true"></ng-container>
      <ng-container NgzGridColumnDef="id" [header]="'ID'" [footer]="'ID'" [hasOrdering]="true" [hasFiltering]="false"></ng-container>      
      <ng-container NgzGridColumnDef="firstName" [header]="'First Name'" [footer]="'First Name'" [hasOrdering]="true" [hasFiltering]="true"></ng-container> 
      <ng-container NgzGridColumnDef="lastName" [header]="'Last Name'" [footer]="'Last Name'" [hasOrdering]="true" [hasFiltering]="true" ></ng-container>
      <ng-container NgzGridColumnDef="salary" [header]="'Salary'" [footer]="'Salary'" [hasOrdering]="true" >
        <ng-container *NgzGridColumnHeaderCellTemplate="let config = config; let values = values">
         {{config.header.toUpperCase()}}
        </ng-container>
        <ng-container *NgzGridColumnCellTemplate="let row = row; let key = key;">
          {{ row['firstName'] }} has salary of ${{row[key]}}
        </ng-container>
        <ng-container *NgzGridColumnFooterCellTemplate="let config = config; let values = values; let page = page">
           Average monthly salary for all data is: ${{avgMonthlySalary(values)}} <br> Average monthly salary for displayed data is: ${{avgMonthlySalaryLimited(values, page.first, page.last)}}
        </ng-container>
      </ng-container>
     <ng-container NgzGridColumnDef [virtual]="true" [header]="'Yearly salary'" [footer]="'Yearly salary'" [hasOrdering]="false" [hasFiltering]="false">
      <ng-container *NgzGridColumnCellTemplate="let row = row; let key = key;">
        {{ row['salary'] * 12}}
      </ng-container>      
     </ng-container>      
    </ngz-grid>
  </code>
</pre>

<button (click)="sort('firstName', true)"> Sort: First name ASC </button>
<button (click)="sort('firstName', false)"> Sort: First name DESC </button>
<button (click)="sort('lastName', true)"> Sort: Last name ASC </button>
<button (click)="sort('lastName', false)"> Sort: Last name DESC </button>
<hr />

<button (click)="page(-1)"> Previous page </button>
<button (click)="page(1)"> Next page </button>
<hr />

<input placeholder="Filter first name" (change)="filter('firstName', $event.target.value)" />
<input placeholder="Filter last name" (change)="filter('lastName', $event.target.value)" />
<hr />

<button (click)="log()"> Log !</button>
