<h3>Filtering</h3>

<p>Filtering can be added by providing the template binding <code>[hasFiltering]="true"</code> inside the 
  <code >&lt;ng-container&gt;</code>
</p>
<p><code>[hasFiltering]</code> is set to "true" by default</p>
<p>Each row also supports filtering by setting the binding <code>[hasFiltering]="true"</code></p>
<p>In case the <code>[hasFiltering]</code> is set to "false" the filter field will be visible but disabled</p>
<p>
  In case all <code>[hasFiltering]</code> bindings inside the column definitions are set to "false" the filtering header will be hidden, 
  same if the <code>[hasFiltering]</code> binding of the table configuration was set to "false"
</p>

<div class="example">
  <code>
    <ngx-intellegens-grid [dataSource]="dataSource">
      <ng-container ngxIntellegensGridFilteringDef [hasFiltering]="true"></ng-container>
      <ng-container ngxIntellegensGridPaginationDef [defaultPageLength]="5" [pageLengthOptions]="[5,10,15,25]" [hasPagination]="true"></ng-container>
      <ng-container ngxIntellegensGridColumnDef="id" [header]="'ID'" [footer]="'ID'" [hasOrdering]="true" [hasFiltering]="false"></ng-container>      
      <ng-container ngxIntellegensGridColumnDef="firstName" [header]="'First Name'" [footer]="'First Name'" [hasOrdering]="true" [hasFiltering]="true"></ng-container> 
      <ng-container ngxIntellegensGridColumnDef="lastName" [header]="'Last Name'" [footer]="'Last Name'" [hasOrdering]="true" [hasFiltering]="true" ></ng-container>
      <ng-container ngxIntellegensGridColumnDef="salary" [header]="'Salary'" [footer]="'Salary'" [hasOrdering]="true" ></ng-container>  
    </ngx-intellegens-grid>
  </code>
</div>
