<h2> NEXT SECTION (Work in progress) </h2>

<pre>
  <code>
    <ngz-grid [dataSource]="dataSource" [header]="true" [footer]="false">

      <ng-container ngzGridFilteringDef [hasFiltering]="true"></ng-container>

      <ng-container ngzGridPaginationDef [defaultPageLength]="15" [pageLengthOptions]="[5,10,15,25,50,100]" [hasPagination]="true"></ng-container>

      <ng-container ngzGridColumnDef="id" [header]="'ID'" [footer]="'ID'" [hasOrdering]="true" [hasFiltering]="false">
        <ng-container *ngzGridColumnCellTemplate="let row = row; let key = key;">
          {{ row[key] }}
        </ng-container>
      </ng-container>

      <ng-container ngzGridColumnDef="firstName" [header]="'First Name'" [footer]="'First Name'" [hasOrdering]="true" [hasFiltering]="true">
      </ng-container> 

      <ng-container ngzGridColumnDef="lastName" [header]="'Last Name'" [footer]="'Last Name'" [hasOrdering]="true" [hasFiltering]="true" >
        <ng-container *ngzGridColumnCellTemplate="let row = row; let key = key;">
          {{ row.lastName }}
        </ng-container>
      </ng-container>

      <ng-container ngzGridColumnDef="salary" [header]="'Salary'" [footer]="'Salary'" [hasOrdering]="true" >
      </ng-container> 

      <ng-container ngzGridColumnDef [header]="'Virtual (with template)'" [footer]="'Virtual'">
        <ng-container *ngzGridColumnCellTemplate="let row = row; let key = key;">
          Testing ...
        </ng-container>
      </ng-container>  
      
      <ng-container ngzGridColumnDef [header]="'Virtual (without template)'" [footer]="'Virtual'">
      </ng-container>  

      <!-- <ng-container [header]="'Nested (with template)'" [footer]="'Nested'" [hasOrdering]="true" >
        <ng-container *ngzGridColumnCellTemplate="let row = row; let key = key;">
          {{ row?.nested?.test }}
        </ng-container>
      </ng-container>  

      <ng-container ngzGridColumnDef="nested.test" [header]="'Nested (without template)'" [footer]="'Nested'" [hasOrdering]="true" >
      </ng-container> -->

      <ng-container ngzGridColumnDef [header]="'Actions'" [footer]="'Actions'">
        <ng-container *ngzGridColumnCellTemplate="let row = row; let key = key;">
          <ngz-grid-actions
            (view)="onAction('a')"
            (edit)="onAction('a')"
            (delete)="onAction('a')">
          </ngz-grid-actions>
        </ng-container>
      </ng-container>

    </ngz-grid>
  </code>
</pre>
