<h3>Filter, sort, pagination change event</h3>
<pre>
  <code>
    <ngx-intellegens-grid #grid [dataSource]="dataSource" (changed)="onEventChange($event)">
      <ng-container ngxIntellegensGridFilteringDef [hasFiltering]="true"></ng-container>
      <ng-container ngxIntellegensGridPaginationDef [defaultPageLength]="5" [pageLengthOptions]="[5,10,15,25]" [hasPagination]="true"></ng-container>
      <ng-container ngxIntellegensGridColumnDef="id" [header]="'ID'" [footer]="'ID'" [hasOrdering]="true" [hasFiltering]="false"></ng-container>      
      <ng-container ngxIntellegensGridColumnDef="firstName" [header]="'First Name'" [footer]="'First Name'" [hasOrdering]="true" [hasFiltering]="true"></ng-container> 
      <ng-container ngxIntellegensGridColumnDef="lastName" [header]="'Last Name'" [footer]="'Last Name'" [hasOrdering]="true" [hasFiltering]="true" ></ng-container>
      <ng-container ngxIntellegensGridColumnDef="salary" [header]="'Salary'" [footer]="'Salary'" [hasOrdering]="true" >
        <ng-container *ngxIntellegensGridColumnHeaderCellTemplate="let config = config">
         {{config.header.toUpperCase()}}
        </ng-container>
        <ng-container *ngxIntellegensGridColumnCellTemplate="let row = row; let key = key; let value = value">
          {{ row['firstName'] }} has salary of ${{ value }}
        </ng-container>
        <ng-container *ngxIntellegensGridColumnFooterCellTemplate="let config = config">
        {{config.footer.toUpperCase()}}
        </ng-container>
      </ng-container>
     <ng-container ngxIntellegensGridColumnDef [virtual]="true" [header]="'Yearly salary'" [footer]="'Yearly salary'" [hasOrdering]="false" [hasFiltering]="false">
      <ng-container *ngxIntellegensGridColumnCellTemplate="let row = row; let key = key; let value = value">
        {{ row['salary'] * 12}}
      </ng-container>      
     </ng-container>      
    </ngx-intellegens-grid>
  </code>
</pre>

<button (click)="sort('firstName', true)"> Sort: First name ASC </button>
<button (click)="sort('firstName', false)"> Sort: First name DESC </button>
<button (click)="sort('lastName', true)"> Sort: Last name ASC </button>
<button (click)="sort('lastName', false)"> Sort: Last name DESC </button>
<hr />

<button (click)="page(-1)"> Previous page</button>
<button (click)="page(1)"> Next page</button>
<hr />

<input placeholder="Filter first name" (change)="filter('firstName', $event.target.value)" />
<input placeholder="Filter last name" (change)="filter('lastName', $event.target.value)" />
